// Custom Fonts

@font-face {
  font-family: 'Manufacturing Consent';
  src: url('/assets/fonts/ManufacturingConsent-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Migra';
  src: url('/assets/fonts/Migra%20Semibold-normal-400-100.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tusker Grotesk';
  src: url('/assets/fonts/Tusker%20Grotesk%202600%20Semibold-normal-400-100.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tusker Grotesk';
  src: url('/assets/fonts/Tusker%20Grotesk%202600%20Semibold-normal-500-100.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maelstrom Sans';
  src: url('/assets/fonts/Maelstrom%20Sans%20Bold%20Test-normal-400-100.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/assets/fonts/Neue%20Montreal%20Medium-normal-400-100.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
